<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCE2mLszF_xgDew3mK90LX2aCH2R8WrZPk</string>
	<key>GCM_SENDER_ID</key>
	<string>61462087664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>safakselimsofioglu.FilmlerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>egitim-a4ca1</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-a4ca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61462087664:ios:08fa2567815e77a390bf35</string>
</dict>
</plist>